*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-input {
    background-color: #FFFF;
}

.img-filtre {
    width: 36px;
}

#buscador, #filtros{
    z-index: -1;
}

.resultados-busqueda{
    margin: 1em auto;
    width: 300px;
}

