* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h6 {
    font: Kumbh Sans;
    font-weight: 700;
    font-size: 10px;
    line-height: 12.4px;
}
.text-ver {
    font: Kumbh Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.88px;
    color: #912E1C;
    text-decoration: none;
}
.price {
    font: Kumbh Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.36px;
}
.ubication {
    color: #912E1C;

}
.img-card {
    border-radius: 18px;
    width: 60px;
} 